{% extends "base.html" %}
{%block title%}Home {%endblock%}
    {%block body%}
    <div class="card-container">
        <div class="owl-carousel">
          {%for cat in cats%}
          <div class="card mx-1">
            <div class="img-container" >
              <img src="/media/{{cat.image}}" height="300px"  alt="" class="img-fluid w-100">
            </div>
            <div class="card-content m-1">
              <div class="card-title">
                <b>{{cat.title}}</b>
              </div>
              <p class="text-truncate">{{cat.description}}</p>
              <div class="container my-2">
                <a href="/category/{{cat.url}}" class="nav-bg btn">View</a>
              </div>
            </div>
            
          </div>
          {%endfor%}
    </div>

    <div class="container mt">
      {% for p in post%}
        <div class="row">
                <div class="col-sm-9 col s12">
                    <div class="content">
                      <p>{{p.content|truncatewords:60|safe}}</p>
                      <a href="/blog/{{p.url}}" class="btn nav-bg">Read More..</a>
                  </div>
                </div>
                
                    <div class="col-sm-2 col-s6 mx-2">
                        <img src="/media/{{p.image}}" class="img-fluid w-100" alt="">
                    </div>
                </div>
                {%endfor%}
                
            </div>
        </div>
    </div>
{%endblock%}
</body>
</html>

<div class="col-lg-10 col-md-8 col-12">

{% comment %} 
username - aman
password - aman
 {% endcomment %}